.App {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.containerApp {
  margin-top: 50px;
  border: 1px solid green;
  box-sizing: border-box;
}